.Navigation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 70%;
    width: 100%;
    gap: 2%;
    @media screen and (orientation: landscape) 
    and (min-height: 550px) 
    and (hover: none) 
    and (pointer: coarse) {
        gap: 10%;
        padding-top: 10%;
    }
}