.nav_option_container {
    text-decoration: none;
    width: 100%;
    color: inherit;
    .nav_option {
        border-bottom: 1px solid;
        cursor: pointer;
        width: 100%;
        text-align: left;
        text-decoration: none;
        .nav_text {
            @media screen and (orientation: landscape) and (max-height: 450px) {
                font-size: 18px;
            }
        }
            .nav_text_active {
                color: $accent;
            }
            .nav_text_inactive {
                color: $inactive;
            }
        }
    .nav_option_active {
        border-color: $accent;
    }
    .nav_option_inactive {
        border-color: $inactive;
    }
}
