---
import "../styles/components/Divider_2.scss"
---

<div class="Divider_2">
    <img class="divider_line" src="/image/divider_line.png" />
    <h5 class="divider_text">PRETTYBOY</h5>
    <img class="divider_line" src="/image/divider_line.png" />
</div>