---
import "../styles/components/Divider_1.scss"
---

<div class="Divider_1">
    <img class="divider_line" src="/image/divider_line.png" />
    <img src="/icon/pizza_icon.png" alt="Pizza Icon" class="pizza_icon" />
    <img class="divider_line" src="/image/divider_line.png" />
</div>