---
import NavOption from "./NavOption.astro"
import '../styles/components/Navigation.scss'
---

<div class='Navigation'>
    <NavOption pathname="home"/>
    <NavOption pathname="menu"/>
    <NavOption pathname="order"/>
    <NavOption pathname="about"/>
</div>