---
import NavOption from "./NavOption.astro"
import '../styles/components/Navigation.scss'
---

<div class='Navigation'>
    <NavOption pathname="home"/>
    <NavOption pathname="menu"/>
    <NavOption title="ORDER" pathname="https://order.toasttab.com/online/little-beast-brewing-beer-garden-3412-southeast-division-street" external={true}/>
    <NavOption pathname="about"/>
</div>