---
import '../styles/components/NavOption.scss'

const currentPath = Astro.url.pathname;
const { pathname, external = false, title = "" } = Astro.props;
const altPath = "/"
---

<a class="nav_option_container" href={ !external ? pathname === "home" ? altPath : `/${pathname}/` : pathname }>
    <div class={`nav_option ${currentPath === "/" && pathname === "home" || currentPath === `/${pathname}/` ? "nav_option_active" : "nav_option_inactive"}`}>
        <h3 class={`nav_text ${currentPath === "/" && pathname === "home" || currentPath === `/${pathname}/` ? "nav_text_active" : "nav_text_inactive"}`}>{ title ? title : pathname.toLocaleUpperCase()}</h3>
    </div>
</a>