---
import Divider1 from "./Divider_1.astro";
import Divider2 from "./Divider_2.astro";
import Navigation from "./Navigation.astro";
import "../styles/components/Sidebar.scss"
import { Image } from "astro:assets";

import logo from "../assets/image/pbp_logo.png"
---

<div class="Sidebar">
    <div class="sidebar_inner">
        <Image class="navigation_logo" src={logo} alt="Pretty Boy Pizza Logo" class="sidebar_logo" />
        <div class="navigation_area">
            <Divider1 />
            <Navigation />
            <Divider2 />
        </div>
    </div>
</div>