---
import "../styles/pages/Home.scss";
---

<div class="Home">
    <div class="home_inner">
        <h1>IT'S PIZZA TIME</h1>
        <div class="info">
            <div class="info_block">
                <h6 class="info_h6">Located at</h6>
                <h5 class="info_h5">3412 SE Division St., Portland, OR 97202</h5>
                <div class="side_by_side">
                    <h6 class="info_h6">Inside of</h6>
                    <h5 class="info_h5">Little Beast Brewing</h5>
                </div>
                <h6 class="info_h6">(Street Parking Only)</h6>
            </div>
            <div class="info_block">
                <h6 class="info_h6">Hours</h6>
                <div class="side_by_side">
                    <h6 class="info_h6">Monday - Thursday:</h6>
                    <h5 class="info_h5">2pm to 9pm</h5>
                </div>
                <div class="side_by_side">
                    <h6 class="info_h6">Friday</h6>
                    <h5 class="info_h5">2pm to 10pm</h5>
                </div>
                <div class="side_by_side">
                    <h6 class="info_h6">Saturday</h6>
                    <h5 class="info_h5">12 pm to 10pm</h5>
                </div>
                <div class="side_by_side">
                    <h6 class="info_h6">Sunday</h6>
                    <h5 class="info_h5">12pm to 9pm</h5>
                </div>
            </div>
        </div>
    </div>
</div>