---
import "../styles/pages/Home.scss";
---

<div class="Home">
    <div class="home_inner">
        <h1>IT'S PIZZA TIME</h1>
        <div class="info">
            <div class="info_block">
                <h6 class="info_h6">LOCATED AT</h6>
                <h5 class="info_h5">3412 SE DIVISION ST., PORTLAND, OR 97202</h5>
                <div class="side_by_side">
                    <h6 class="info_h6">INSIDE OF</h6>
                    <h5 class="info_h5">LITTLE BEAST BREWING</h5>
                </div>
                <h6 class="info_h6">(STREET PARKING ONLY)</h6>
            </div>
            <div class="info_block">
                <h6 class="info_h6">HOURS</h6>
                <div class="side_by_side">
                    <h6 class="info_h6">MONDAY - THURSDAY:</h6>
                    <h5 class="info_h5">2PM to 9PM</h5>
                </div>
                <div class="side_by_side">
                    <h6 class="info_h6">FRIDAY</h6>
                    <h5 class="info_h5">2PM to 10PM</h5>
                </div>
                <div class="side_by_side">
                    <h6 class="info_h6">SATURDAY</h6>
                    <h5 class="info_h5">12PM to 10PM</h5>
                </div>
                <div class="side_by_side">
                    <h6 class="info_h6">SUNDAY</h6>
                    <h5 class="info_h5">12PM to 9PM</h5>
                </div>
            </div>
        </div>
    </div>
</div>